:root {

  --mg-color-dark: hsl(255deg 0% 15%);
  --mg-color-light: hsl(255deg 0% 95%);
  --mg-color-primary: #50a367;
  --mg-control-radius: 1rem;
  --mg-input-radius: 1rem;
  --mg-color-red: #dc3545;
  --mg-color-orange: #fd7e14;
  --mg-color-blue: #007bff;
  --mg-color-green: #50a367;
}

/* For desktop: */

html,
body {
  height: 100%;
}

html * {
  transition: background 0.3s, color 0.3s;
}

.hidden-ux {
  visibility: hidden;
}
.main {
  height: 100%;
}

.main:has(.login-form) {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrapper > header {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo-view {
  flex-grow: 1;
}

#header-nav {
  font-size: 120%;
}

.mg-nav li {
  padding: 0.75rem;
}


.wrapper > footer {
  padding: 1rem;
}

.logo {
  width: 8rem;
}

.logo-view a > img,
.logo-view a > span {
  vertical-align: middle;
  font-size: 5rem;
}

.burger {
  font-size: 1.2em;
  display: none;
}

@media only screen and (max-width:420px) {

  .burger {
    display: block;
  }
}