{{define "base"}}<!doctype html>
<html lang='en' data-theme="dark">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Mg+ CSS -->
    <link rel="stylesheet" href="https://cdn.mgpluscss.com/v1.4.5/mgplus.css">

    <link rel="stylesheet" href="/static/styles.css">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#94b5eb" />
    <title>{{block "title" .}}WPAmesh MQTT Server{{end}}</title>
</head>

<body>

    <div class="main mg-container">
        {{template "main" .}}
    </div>

    <script src="https://cdn.mgpluscss.com/v1.4.5/mgplus-vanilla.js?register=all"></script>
    <script src="/static/site.js"></script>

</body>

</html>
{{end}}